Start by downloading all of the data files we need.

For the purpose of the MVP, the highest reported 7-day average of cases according to the nychealth data is that of the 7 days prior to 01/08/2021, so here we'll just download that approximate week from both 2021 and 2020, and the data from the nychealth GitHub.

In [1]:
import urllib.request

url = "http://web.mta.info/developers/data/nyct/turnstile/turnstile_{}.txt"
#week_nums = [210320, 210313, 210306, 210227, 210220, 210213, 210206, 210130, 210123, 210116, 210109, 210102, 
#             201226, 201219, 201212, ]
week_nums = [210109, 200111]

for week_num in week_nums:
    urllib.request.urlretrieve(f"http://web.mta.info/developers/data/nyct/turnstile/turnstile_{week_num}.txt",
                               f"data/turnstile_{week_num}.txt")
urllib.request.urlretrieve(f"https://github.com/nychealth/coronavirus-data/blob/master/trends/data-by-day.csv",
                           f"data/data-by-day.csv")

('data/data-by-day.csv', <http.client.HTTPMessage at 0x7fcd0cca61f0>)

In [5]:
from sqlalchemy import create_engine
import pandas as pd

#engine = create_engine("sqlite:///mta.db")
#all_data = pd.read_sql('SELECT * FROM mta_data;', engine)
#pd.read_sql('SELECT * FROM data-by-day LIMIT 10;', engine)

In [20]:
mta_data_1 = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_210320.txt')
covid_data = pd.read_csv('https://raw.githubusercontent.com/nychealth/coronavirus-data/master/trends/data-by-day.csv')

In [22]:
mta_data_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207054 entries, 0 to 207053
Data columns (total 11 columns):
 #   Column                                                                Non-Null Count   Dtype
---  ------                                                                --------------   -----
 0   C/A                                                                   207054 non-null  object
 1   UNIT                                                                  207054 non-null  object
 2   SCP                                                                   207054 non-null  object
 3   STATION                                                               207054 non-null  object
 4   LINENAME                                                              207054 non-null  object
 5   DIVISION                                                              207054 non-null  object
 6   DATE                                                                  207054 non-null  object
 7   TIME                                                                  207054 non-null  object
 8   DESC                                                                  207054 non-null  object
 9   ENTRIES                                                               207054 non-null  int64
 10  EXITS                                                                 207054 non-null  int64
dtypes: int64(2), object(9)
memory usage: 17.4+ MB

In [21]:
covid_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 387 entries, 0 to 386
Data columns (total 62 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   date_of_interest                387 non-null    object
 1   CASE_COUNT                      387 non-null    int64
 2   PROBABLE_CASE_COUNT             387 non-null    int64
 3   HOSPITALIZED_COUNT              387 non-null    int64
 4   DEATH_COUNT                     387 non-null    int64
 5   PROBABLE_DEATH_COUNT            387 non-null    int64
 6   CASE_COUNT_7DAY_AVG             387 non-null    int64
 7   ALL_CASE_COUNT_7DAY_AVG         387 non-null    int64
 8   HOSP_COUNT_7DAY_AVG             387 non-null    int64
 9   DEATH_COUNT_7DAY_AVG            387 non-null    int64
 10  ALL_DEATH_COUNT_7DAY_AVG        387 non-null    int64
 11  BX_CASE_COUNT                   387 non-null    int64
 12  BX_PROBABLE_CASE_COUNT          387 non-null    int64
 13  BX_HOSPITALIZED_COUNT           387 non-null    int64
 14  BX_DEATH_COUNT                  387 non-null    int64
 15  BX_PROBABLE_DEATH_COUNT         387 non-null    int64
 16  BX_CASE_COUNT_7DAY_AVG          387 non-null    int64
 17  BX_ALL_CASE_COUNT_7DAY_AVG      387 non-null    int64
 18  BX_HOSPITALIZED_COUNT_7DAY_AVG  387 non-null    int64
 19  BX_DEATH_COUNT_7DAY_AVG         387 non-null    int64
 20  BX_ALL_DEATH_COUNT_7DAY_AVG     387 non-null    int64
 21  BK_CASE_COUNT                   387 non-null    int64
 22  BK_PROBABLE_CASE_COUNT          387 non-null    int64
 23  BK_HOSPITALIZED_COUNT           387 non-null    int64
 24  BK_DEATH_COUNT                  387 non-null    int64
 25  BK_PROBABLE_DEATH_COUNT         387 non-null    int64
 26  BK_CASE_COUNT_7DAY_AVG          387 non-null    int64
 27  BK_ALL_CASE_COUNT_7DAY_AVG      387 non-null    int64
 28  BK_HOSPITALIZED_COUNT_7DAY_AVG  387 non-null    int64
 29  BK_DEATH_COUNT_7DAY_AVG         387 non-null    int64
 30  BK_ALL_DEATH_COUNT_7DAY_AVG     387 non-null    int64
 31  MN_CASE_COUNT                   387 non-null    int64
 32  MN_PROBABLE_CASE_COUNT          387 non-null    int64
 33  MN_HOSPITALIZED_COUNT           387 non-null    int64
 34  MN_DEATH_COUNT                  387 non-null    int64
 35  MN_PROBABLE_DEATH_COUNT         387 non-null    int64
 36  MN_CASE_COUNT_7DAY_AVG          387 non-null    int64
 37  MN_ALL_CASE_COUNT_7DAY_AVG      387 non-null    int64
 38  MN_HOSPITALIZED_COUNT_7DAY_AVG  387 non-null    int64
 39  MN_DEATH_COUNT_7DAY_AVG         387 non-null    int64
 40  MN_ALL_DEATH_COUNT_7DAY_AVG     387 non-null    int64
 41  QN_CASE_COUNT                   387 non-null    int64
 42  QN_PROBABLE_CASE_COUNT          387 non-null    int64
 43  QN_HOSPITALIZED_COUNT           387 non-null    int64
 44  QN_DEATH_COUNT                  387 non-null    int64
 45  QN_PROBABLE_DEATH_COUNT         387 non-null    int64
 46  QN_CASE_COUNT_7DAY_AVG          387 non-null    int64
 47  QN_ALL_CASE_COUNT_7DAY_AVG      387 non-null    int64
 48  QN_HOSPITALIZED_COUNT_7DAY_AVG  387 non-null    int64
 49  QN_DEATH_COUNT_7DAY_AVG         387 non-null    int64
 50  QN_ALL_DEATH_COUNT_7DAY_AVG     387 non-null    int64
 51  SI_CASE_COUNT                   387 non-null    int64
 52  SI_PROBABLE_CASE_COUNT          387 non-null    int64
 53  SI_HOSPITALIZED_COUNT           387 non-null    int64
 54  SI_DEATH_COUNT                  387 non-null    int64
 55  SI_PROBABLE_DEATH_COUNT         387 non-null    int64
 56  SI_CASE_COUNT_7DAY_AVG          387 non-null    int64
 57  SI_ALL_CASE_COUNT_7DAY_AVG      387 non-null    int64
 58  SI_HOSPITALIZED_COUNT_7DAY_AVG  387 non-null    int64
 59  SI_DEATH_COUNT_7DAY_AVG         387 non-null    int64
 60  SI_ALL_DEATH_COUNT_7DAY_AVG     387 non-null    int64
 61  INCOMPLETE                      387 non-null    int64
dtypes: int64(61), object(1)
memory usage: 187.6+ KB

In [23]:
mta_data_1.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/13/2021,03:00:00,REGULAR,7543925,2573549
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/13/2021,07:00:00,REGULAR,7543931,2573559
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/13/2021,11:00:00,REGULAR,7543970,2573622
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/13/2021,15:00:00,REGULAR,7544072,2573700
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/13/2021,19:00:00,REGULAR,7544219,2573729

In [9]:
covid_data.head()

,date_of_interest,CASE_COUNT,PROBABLE_CASE_COUNT,HOSPITALIZED_COUNT,DEATH_COUNT,PROBABLE_DEATH_COUNT,CASE_COUNT_7DAY_AVG,ALL_CASE_COUNT_7DAY_AVG,HOSP_COUNT_7DAY_AVG,DEATH_COUNT_7DAY_AVG,...,SI_PROBABLE_CASE_COUNT,SI_HOSPITALIZED_COUNT,SI_DEATH_COUNT,SI_PROBABLE_DEATH_COUNT,SI_CASE_COUNT_7DAY_AVG,SI_ALL_CASE_COUNT_7DAY_AVG,SI_HOSPITALIZED_COUNT_7DAY_AVG,SI_DEATH_COUNT_7DAY_AVG,SI_ALL_DEATH_COUNT_7DAY_AVG,INCOMPLETE
0,02/29/2020,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,03/01/2020,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,03/02/2020,0,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,03/03/2020,1,0,7,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,03/04/2020,5,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
covid_data.CASE_COUNT.describe()

count     387.000000
mean     1759.418605
std      1682.616697
min         0.000000
25%       355.500000
50%      1026.000000
75%      3058.000000
max      6561.000000
Name: CASE_COUNT, dtype: float64

In [16]:
mask = (covid_data.HOSPITALIZED_COUNT > 1000)
covid_data[mask].head(10)

,date_of_interest,CASE_COUNT,PROBABLE_CASE_COUNT,HOSPITALIZED_COUNT,DEATH_COUNT,PROBABLE_DEATH_COUNT,CASE_COUNT_7DAY_AVG,ALL_CASE_COUNT_7DAY_AVG,HOSP_COUNT_7DAY_AVG,DEATH_COUNT_7DAY_AVG,...,SI_PROBABLE_CASE_COUNT,SI_HOSPITALIZED_COUNT,SI_DEATH_COUNT,SI_PROBABLE_DEATH_COUNT,SI_CASE_COUNT_7DAY_AVG,SI_ALL_CASE_COUNT_7DAY_AVG,SI_HOSPITALIZED_COUNT_7DAY_AVG,SI_DEATH_COUNT_7DAY_AVG,SI_ALL_DEATH_COUNT_7DAY_AVG,INCOMPLETE
23,03/23/2020,3570,14,1147,82,13,3132,3138,703,39,...,0,45,8,0,229,229,30,3,4,0
24,03/24/2020,4500,12,1314,95,12,3425,3432,835,52,...,0,52,6,0,263,264,35,4,5,0
25,03/25/2020,4874,18,1411,124,18,3697,3705,966,66,...,0,51,4,0,298,299,39,5,5,0
26,03/26/2020,5046,41,1543,186,41,3888,3902,1096,90,...,2,54,10,2,319,320,43,5,6,0
27,03/27/2020,5117,41,1569,218,41,4046,4066,1213,114,...,0,62,7,0,328,328,47,6,7,0
28,03/28/2020,3480,51,1390,273,51,4167,4193,1306,147,...,1,52,13,1,330,331,50,8,8,0
29,03/29/2020,3562,63,1503,290,63,4307,4341,1411,181,...,3,63,17,3,318,319,54,9,10,0
30,03/30/2020,6130,85,1854,325,85,4673,4717,1512,216,...,0,72,11,0,345,346,58,10,11,0
31,03/31/2020,5458,85,1801,385,84,4810,4864,1582,257,...,1,68,22,1,329,330,60,12,13,0
32,04/01/2020,5448,101,1744,447,101,4892,4958,1629,303,...,3,85,16,3,310,311,65,14,15,0

In [19]:
covid_data.sort_values('DEATH_COUNT', ascending = False).head(10)

,date_of_interest,CASE_COUNT,PROBABLE_CASE_COUNT,HOSPITALIZED_COUNT,DEATH_COUNT,PROBABLE_DEATH_COUNT,CASE_COUNT_7DAY_AVG,ALL_CASE_COUNT_7DAY_AVG,HOSP_COUNT_7DAY_AVG,DEATH_COUNT_7DAY_AVG,...,SI_PROBABLE_CASE_COUNT,SI_HOSPITALIZED_COUNT,SI_DEATH_COUNT,SI_PROBABLE_DEATH_COUNT,SI_CASE_COUNT_7DAY_AVG,SI_ALL_CASE_COUNT_7DAY_AVG,SI_HOSPITALIZED_COUNT_7DAY_AVG,SI_DEATH_COUNT_7DAY_AVG,SI_ALL_DEATH_COUNT_7DAY_AVG,INCOMPLETE
38,04/07/2020,6042,215,1581,598,215,5272,5449,1617,529,...,9,69,27,9,429,435,71,24,29,0
36,04/05/2020,3781,173,1404,578,173,5157,5295,1664,463,...,6,70,22,6,326,329,70,21,25,0
37,04/06/2020,6354,224,1742,575,224,5189,5347,1648,499,...,8,78,24,8,373,378,71,23,28,0
43,04/12/2020,2887,175,957,571,175,4882,5076,1361,565,...,7,44,26,7,441,448,59,26,33,0
44,04/13/2020,3312,184,1156,570,184,4448,4636,1277,564,...,8,56,25,8,363,370,56,26,33,0
39,04/08/2020,5579,199,1566,568,199,5291,5481,1591,546,...,9,61,34,9,472,479,68,26,33,0
40,04/09/2020,5071,193,1351,559,193,5194,5388,1545,555,...,9,54,25,9,462,469,65,26,33,0
42,04/11/2020,3732,171,1038,542,171,5010,5203,1424,566,...,3,45,28,3,451,458,63,26,33,0
41,04/10/2020,4510,179,1289,539,179,5029,5225,1484,561,...,5,62,19,5,455,462,64,24,31,0
35,04/04/2020,3864,188,1457,510,188,5125,5248,1678,422,...,3,52,20,3,312,315,69,21,23,0

How will we calculate the total daily traffic of a station? Get the MAX and MIN of both ENTRIES and EXITS for each day (grouped by station), calculate the difference of each, and add them together. This will give us a single number that can be used as a general measure of the flow of traffic for each station each day. We can then add the numbers for every station together to get the total amount of traffic for the entire MTA each day.